@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    @apply bg-galaxy-100 text-text-primary overflow-x-hidden;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 15px rgba(204, 255, 0, 0.3);
  }
}
